@font-face {
  font-family: "laica";
  src: url("fonts/ABCLaicaA-Regular-Trial.woff2") format("woff2"),
    url("fonts/Compagnon-Light.woff") format("woff");

}

@font-face {
  font-family: "satoshi";
  src: url("fonts/Satoshi-Medium.woff2") format("woff2"),
    url("fonts/Satoshi-Medium.woff") format("woff");
}


/* BODY */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  margin: 0;
  padding: 0;

  font-family: "satoshi", sans-serif;
  font-size: 80px;
  line-height: 1.6;
}




/* CONTAINERS */

.title {
  background-color: rgb(255, 89, 0);
  height: 6vh;
}


.box {
  height: 12vh;

}

.box,
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.b1 {
  background-color: rgb(251, 255, 0);
}

.b2 {
  background-color: rgb(9, 255, 0);
}

.b3 {
  background-color: rgb(0, 51, 255);
}

.b4 {
  background-color: rgb(239, 0, 0);
}

.b5 {
  background-color: rgb(139, 27, 131);
}

.b6 {
  background-color: rgb(0, 255, 187);
}

.b7 {
  background-color: rgb(0, 255, 106);
}

.b8 {
  background-color: rgb(0, 255, 106);
}





/* LINKS */
a {
  color: rgb(0, 0, 0);
  font-family: "satoshi", sans-serif;
  text-decoration: none;
  transition: background-color 0.3s;
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: none;
}


/* TEXT */

h1 {
  font-family: "compagnon";
  color: rgb(0, 0, 0);
  font-size: 52px;
}

h2 {
  font-family: "compagnon";
  color: rgb(0, 0, 0);
  font-size: 32px;
}

h3 {
  font-family: "compagnon";
  color: rgb(0, 0, 0);
  font-size: 52px;
}

p {
  font-family: "satoshi", sans-serif;
  color: black;
}


h1,
h2,
h3,
p {
  margin: 0;
  text-align: center;
}