
/* fixed boxes */

.container {
      display: flex;   /* puts divs next to each other */
      /* gap: 20px;       space between them */
     align-items: flex-end;  /* aligns boxes to the bottom */
}


.rectangle-1 {

  margin-left: 10px;
    margin-top: 50px;
    background-color: rgb(199, 227, 255);
    border: 1px solid rgb(0, 0, 0);
    width: 50px;
    height: 300px;
    }


.rectangle-2 {
flex: -10
    margin-left: 100px;
    margin-top: 50px;
    background-color: rgb(199, 227, 255);
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    height: 200px;
    }    

