@keyframes shake-crazy {
  0%   { transform: translate(0, 0); }
  10%  { transform: translate(-4px, -4px); }
  20%  { transform: translate(4px, -3px); }
  30%  { transform: translate(-3px, 4px); }
  40%  { transform: translate(3px, 3px); }
  50%  { transform: translate(-4px, 2px); }
  60%  { transform: translate(4px, -4px); }
  70%  { transform: translate(-2px, 3px); }
  80%  { transform: translate(3px, -2px); }
  90%  { transform: translate(-3px, 4px); }
  100% { transform: translate(0, 0); }
}

@font-face {
    font-family: "favorit";
    src: url("fonts/ABCFavorit-Regular-Trial.woff2") format("woff2"),
        url("fonts/ABCFavorit-Regular-Trial.woff") format("woff");
}


body {
  margin: 0;
  height: 100vh;
  position: relative;
  background: black;
  justify-content: center;
  align-items: center;
  display: flex;
}



p {
    font-family: "favorit", sans-serif;
    font-size: 50px;
    color: white;

    display: flex;
    justify-content: center; /* center horizontally */
}

p:hover {
  animation: shake-crazy 0.3s infinite;
  cursor: pointer;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.circle:hover {
  animation: shake-crazy 0.3s infinite;
}


.top-left {
    top: 50px;
    left: 50px;
    background: rgb(183, 255, 0);
}

.top-right {
    top: 50px;
    right: 50px;
    background: rgb(255, 0, 0);
}

.bottom-left {
    bottom: 50px;
    left: 50px;
    background: rgb(255, 0, 255);
}

.bottom-right {
    bottom: 50px;
    right: 50px;
    background: rgb(0, 0, 255);
}


