@font-face {
  font-family: "favorit";
  src: url("fonts/ABCFavorit-Light-Trial.woff2") format("woff2"),
    url("fonts/ABCFavorit-Light-Trial.woff") format("woff");
}

@keyframes moveSide {
  0% {
    left: -120px;
  }

  100% {
    left: 100%;
  }
}



body {
  margin: 0;
  height: 100vh;
  position: relative;
  background: #EDE9E2;
  justify-content: center;
  align-items: center;
  display: flex;
}


/* TEXT */

p {
  font-family: "favorit", sans-serif;
  font-size: 18px;
  color: black;

  display: flex;
  justify-content: left;
}


h1 {
  font-family: "favorit", sans-serif;
  font-size: 12px;
  color: rgb(134, 134, 134);

  display: flex;
  justify-content: left;
}




.text-stop {
  font-family: "favorit", sans-serif;
  font-size: 242px;
  line-height: 0.9;
  color: black;

  display: flex;
  justify-content: center;
  margin: 0
}

.text-stop:hover {
  border-color: black;
  background: transparent;
  color: black;
  cursor: pointer;
  border: 0;
}


.object {
  height: 50vh;
  object-fit: cover;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: moveSide 10s linear infinite;
}


.object:hover {
  animation-play-state: paused;
}


.left-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 310px;
  height: 380px;
  padding: 15px;
  background: white;
}

.left-box p {
  margin: 0;
  padding: 8px 0;
}

.left-box hr {
  border: none;
  border-top: 1px solid black;
  padding: 0;
  margin: 0;
}