@font-face {
  font-family: "favorit";
  src: url("fonts/ABCFavorit-Light-Trial.woff2") format("woff2"),
    url("fonts/ABCFavorit-Light-Trial.woff") format("woff");
}

@keyframes moveSide {
  0% {
    left: -120px;
  }

  100% {
    left: 100%;
  }
}



body {
  margin: 0;
  height: 100vh;
  position: relative;
  background: #EDE9E2;
  justify-content: center;
  align-items: center;
  display: flex;
}




/* HYPERLINIK */

a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}



/* TEXT */

p {
  font-family: "favorit", sans-serif;
  font-size: 16px;
  color: black;

  display: flex;
  justify-content: left;
}


h1 {
  font-family: "favorit", sans-serif;
  font-size: 10px;
  color: rgb(134, 134, 134);

  display: flex;
  justify-content: left;
}


h2 {
  font-family: "favorit", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);

  display: flex;
  justify-content: left;
}



.text-stop {
  font-family: "favorit", sans-serif;
  font-size: 242px;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 242px;
  line-height: 1;
  margin: 0
}

.text-stop:hover {
  border-color: black;
  background: transparent;
  color: black;
  cursor: pointer;
  border: 0;
}


.object {
  height: 50vh;
  object-fit: cover;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: moveSide 10s linear infinite;
}


.object:hover {
  animation-play-state: paused;
}


.label-box {
  position: fixed;
  top: 30px;
  left: 50px;
  width: 310px;
  height: 330px;
  padding: 15px;
  background: white;
  cursor: grab;
}

.label-box p {
  margin: 0;
  padding: 8px 0;
}

.label-box hr {
  border: none;
  border-top: 1px solid black;
  padding: 0;
  margin: 0;
}

.footer-left {
  position: fixed;
  bottom: 10px;
  left: 20px;
}


.footer-right {
  position: fixed;
  bottom: 10px;
  right: 20px;
}